.cuadro1{
    border-bottom:1px solid black;
    height: 10rem;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.cuadro2{
    height: 50rem;
    display: flex;
    justify-content:space-around;
}

.cuadro3{
    border-top: 1px solid black;
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    height: 8rem;
    width: 15rem;
}

.texto{
    font-size: 40px;
    margin-left: -3rem;
    
}

.githublink {
    font-size: 3rem;
}