.grid1{

    border-bottom: 0.5px solid black;
    height: 1rem;
    width: 100%;
    display: flex;

}

.grid2{
 
    height: 27rem;
   
}

.grid3{
    border-bottom: 1px solid black;
    height: 10rem;
    width: 100%;

}

.imagen{
height: 10rem;
width: 10rem;
display: flex;
justify-content: center; 
align-items: center;   
padding: 2rem; 
  


}


.usuario{
    font-size: 2rem;
    margin-left: 170px;
    margin-top: -100px;
    
}